html{
	height: 100%;
	width: 100%;
}

body{
	background-color: black;
	height: 100%;
	height: 100%;
}

#terminalContainer {
	background-color: #343131;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	border: 1px solid #b37c57;
}


.banner{
	justify-content: center;
	border:3px solid black;
	color: blue;
	width: 100%;
	height: 20%;
	/* white-space: pre-line; */
	display: flex;
}

.ascii{
	color:black;
	border: 1px solid black;
	margin: 1%;
}

.title{
	justify-content: center;
	align-items: center;
	text-align: center;
	text-wrap: nowrap;
	color:red;
	width: 100%;
}

.cmd-line {
	color:red;
	border : 1px solid black;
	height: 10%;
	width: 100%;
	display: flex;
}

.cmd{
	/* border: 1px solid blue; */
	width: 100%;
	/* box-shadow: none; */
	background-color: #343131;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	color: 	#dde2e3;
	border: none;
}

.prompt{
	/* border: 1px solid black; */
	display: inline-block;
}

#terminal{
	color:white;
}