html{
	height: 100%;
	width: 100%;
}

body{
	background-color: blue;
	height: 100%;
	height: 100%;
}

.main {
	background-color: grey;
	height: 100%;
	height: 100%;
	border: 2px solid black;
}


.banner{
	border:3px solid black;
	color: aqua;
	width: 100%;
	height: 20%;
	/* white-space: pre-line; */
	display: flex;
}

.ascii{
	color:black;
	border: 1px solid black;
	margin: 1%;
}

.title{
	justify-content: center;
	align-items: center;
	text-align: center;
	text-wrap: nowrap;
	color:red;
	width: 100%;
}

.cmd-line {
	color:red;
	border : 1px solid black;
	height: 10%;
	width: 100%;
	display: flex;
}

.cmd{
	/* border: 1px solid blue; */
	width: 100%;
	/* box-shadow: none; */
	background-color: grey;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	/* border: none; */
}

.prompt{
	/* border: 1px solid black; */
	display: inline-block;
}
