/*=== GENERAL ===*/
html, body {
    margin: 0;
    height: 100%;
}

/*=== BARRE DE NAVIGATION ===*/
#navbarre{
    background: rgba(7, 79, 214, 0.3);
    display: flex;
    height: 10%;

    text-align: center;

    align-items: center;
    justify-content: center;
    border: 2px solid black;

}

#right{
    width: 50%;
}

.title{
    /* FONT */
    font-size: larger;
    font-weight: bold;
    background: -webkit-linear-gradient(#eee, #d4d3d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

#left{
    width: 50%;
}

.nav{
    text-decoration: none;
    color: white;
    margin-left: 10%;
    height: 100%;
}


/*=== MAIN ===*/
#main{
    display: flex;
    height: 100%;
    background-color: whitesmoke;
    text-decoration: none;
}

.button1{
    background-color: red;
    color: white;
    text-decoration: none;

    width: 50%;
    height: 30%;
    margin: 1%;

    text-align: center;    
    border: 1px solid black;
}

.button2{
    background-color: blue;
    color: white;
    text-decoration: none;

    width: 50%;
    height: 30%;
    margin: 1%;

    text-align: center;
    border: 1px solid black;
}
