
{% include 'partials/header.html' %}
{% if user.is_authenticated %}
    {% include 'partials/menuPong.html' %}
    {% include 'partials/userStats.html' %}
    {% include 'partials/changeProfile.html' %}
    {% include 'partials/notifications.html' %}
    {% include 'partials/matchHistory.html' %}
    {% include 'partials/friends.html' %}
    {% include 'partials/notif.html' %}
    {% include 'partials/toast.html' %}
{% else %}
    {% include 'partials/loginForm.html' %}
    {% include 'partials/registerForm.html' %}
{% endif %}
