{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/pong.css' %}">
</head>
<body>
    <header id="navbarre">
        <div id="right">
            <a class="title" href="">FT_TRANSCENDENCE</a>
        </div>
        <div id="left">
            <a class="nav" href="">Scoreboard</a>
            <a class="account" href="">Your account</a>
        </div>
    </header>
    <div id="main">
        <div class="hero-section">
            <h1>Welcome to FT_TRANSCENDENCE</h1>
            <a class="button button1" href="menuPong/">Play Game</a>
            <a class="button button2" href="/account/register/">Create an account</a>
            {% if user.is_authenticated %}
            <a class="button button3" href="/account/logout/">Disconnect</a>
             {% else %}
            <a class="button button3" href="/account/login/">Login</a>
            {% endif %}
        </div>
        <div class="chat-container">
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    <script src="{% static 'pages/js/pong.js' %}"></script>
    <script src="{% static 'pages/js/pongIA.js' %}"></script>
    <script src="{% static 'pages/js/chat.js' %}"></script>
    <script src="{% static 'pages/js/multi.js' %}"></script>
</body>
