{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const element = document.getElementById('logoutButton');
            if (element) {
                element.addEventListener('click', function () {
                    window.location.href = 'account/logout/';
                });
            }
        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT_TRANSCENDENCE</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/match_history.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pages/images/42logo.jpg' %}">
</head>

<body>
    <div id="header">
        {% if user.is_authenticated == False %}
            <button class="needed_hover" onclick='goToLogin()' src="{% static '/js/main.js' %}">> LOGIN < </button>
            <button class="needed_hover" onclick='goToRegister()' src="{% static '/js/main.js' %}">> REGISTER <</button>
        {% endif %}
        {% if user.is_authenticated %}
        <button class="needed_hover" id="statsButton" onclick="showStats()"
            src="{% static '/js/main.js' %}">{{ user.username }}</button>
        <button class="needed_hover" id="friendsButton" onclick="showFriends()"
            src="{% static '/js/main.js' %}"> FRIENDS LIST</button>
        <button class="needed_hover" id="logoutButton" class="button">LOGOUT</button>
        <button id="param_btn" onclick='showParams()'><img id="param_img"
                src="{% static '/pages/images/parametres.png' %}"></button>
        {% endif %}
    </div>
    <!-- data-bs-delay="5000" -->
    <!-- content des pages -->
    <div id="content">
        <div id="boot_toast">
            <div class="toast-container position-fixed end-0" style="bottom:0; right:0; width:25%">
                <!-- Toasts will be dynamically added here -->
            </div>
        </div>
        <div id="menuPongDiv">
            <div class="left">
                <h1 class="pong_title">42 PONG</h1>
                <button class="needed_hover2" href="/pongIA/">IA</button >
                <button class="needed_hover2" href="/pong/">1v1</button >
                <button class="needed_hover2" href="/pong/">Tournois</button >
                <button class="needed_hover2" id="createSessionBtn">Create Game Session</button>
                <button class="needed_hover2" id="joinSessionBtn" href="join_session/{{ user.id }}/">Join</button>
                <input type="text" placeholder="--> Enter Session ID Here <--" id="sessionIdInput"></input>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div id="change_prof">
            <div id="top">
                {% if user.avatar %}
                    <img id="old_avatar" src="{% static '/pages/img_avatars/' %}{{user.get_avatar_name}}">
                {% else %}
                    <img id="old_avatar" src="{% static '/pages/img_avatars/None.jpg' %}">
                {% endif %}
                <form method="POST" action="/account/settings/" enctype="multipart/form-data" class="settingsForm">
                    {% csrf_token %}
                    <input type="file" name="new_avatar" id="new_avatar">
                    <hr id="sep">
                    </hr>
                    <h2 id="old_username">{{ user.username }}</h2>
                    <input type="text" name="new_username" id="new_username" placeholder="New Username">
            </div>
            <div id="bottom">
                <button type="submit" id="update_profile">Update Profile</button>
                </form>
            </div>
            <!-- REGISTER FORM -->
            <div class="register_form">
                <h2>Registering</h2>
                <form id="registerForm" action="/account/createUser" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">Your User Name:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Your Password:</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="avatar">Your avatar:</label>
                        <input type="file" id="avatar" name="avatar" accept=image/*>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="REGISTER">
                    </div>
                    <div id="registerError"></div>
                </form>
            </div>
        </div>
        <button id="notifbtn" class="needed_hover" onclick="showNotifs()" src="{% static 'pages/js/main.js' %}">> NOTIFICATIONS <</button>
        <div id="notifications">
            <h2 id="notiftitle">NOTIFICATIONS</h2>
            <button id="closeNotifs" onclick="hideNotifs()" class="needed_hover">CLOSE</button>
            <script>
                var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
                var ws_path = ws_scheme + '://' + window.location.host + '/ws/notifications/';
                var websocket = new WebSocket(ws_path);
            
                websocket.onopen = function(event) {
                    console.log("WebSocket is open now.");
                };
            
                websocket.onclose = function(event) {
                    console.log("WebSocket is closed now.");
                };
            
                websocket.onerror = function(event) {
                    console.error("WebSocket error observed:", event);
                };
            
                websocket.onmessage = function(event) {
                    console.log(event.data);
                    var data = JSON.parse(event.data);
                    // alert('Notification received from ' + data.from_user);
                    handleNotification(data);
                    // showToast();
                };

                function sendNotificationSocket(username){
                    console.log("from : ", username);
                }

                document.getElementById('sendbtn').onclick = function() {
                    console.log("puis on passe ici??");
                    var pseudo = document.getElementById('inputnotif').value;
                    var notificationType = document.getElementById('selectnotif').value;
                    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    var fromUser = document.querySelector('from_user').textContent;

                    if (notificationType === "")
                    {
                        console.log("EMPTY MA GUEULE");
                        return ;
                    }

                    fetch('/send_notification/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': csrfToken
                        },
                        body: new URLSearchParams({
                            'pseudo': pseudo,
                            'notification_type': notificationType,
                            'from_user': fromUser,
                        })
                    }).then(response => response.json()).then(data => {
                        console.log("Notification send response:", data);
                        if (data.status === 'success') {
                            // alert('Notification sent successfully.');
                            console.log("here : ", data);
                        } else {
                            alert('Error sending notification: ' + data.message);
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                };
            </script>
            
            <div id="sendnotifs">
                <p id="from_user" style="color:red;">{{user.username}}</p>
                <form id="notifform">
                    {% csrf_token %}
                    <input type="text" placeholder="PSEUDO" id="inputnotif" name="pseudo">
                    <select name="notification_type" id="selectnotif" required>
                        <option value="">Please Select</option>
                        <option value="play with">play with</option>
                        <option value="friend request">friend request</option>
                    </select>
                </form>
                <button id="sendbtn" class="needed_hover" onclick="sendNotificationSocket('{{ user.username }}')">SEND</button>
            </div>
            <table id="notiftable">
                <tr>
                    <td id="notiftd">FROM</td>
                    <td id="notiftd">TYPE</td>
                    <td id="notiftd">ACCEPT</td>
                    <td id="notiftd">DECLINE</td>
                </tr>
                <p id="nb_notifs">{{user.nb_notifs}}</p>
            </table>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="user_stats">
            <div id="leftstats">
                {% if user.avatar %}
                    <ul id="stats"><img src="{% static '/pages/img_avatars/' %}{{ user.get_avatar_name }}" id="avatar"></ul>
                {% endif %}
            </div>
            <div id="rightstats">
                <ul id="stats_username"> {{ user.username }} </ul>
                {% if user.friends %}
                    <ul id="stats"> 0 amis </ul>
                {% else %}
                    <ul id="stats"> {{ user.friends }} amis </ul>
                {% endif %}
                <ul id="stats"> {{ user.win }} </ul>
                <ul id="stats"> {{ user.lost }} </ul>
            </div>
        </div>
        <div id="friends">
            <table id="friends_list">
                {% comment %}
                <!-- {% comment for each user.friends endcomment %} -->
                {% endcomment %}
                <tr>
                    <th class="friend_username">Username</th>
                    <th class="victories">Victoires</th>
                    <th class="defeats">Defaites</th>
                </tr>
                <tr>
                    <td class="friend_username"><img id="friend_avatar"
                            src="{% static 'pages/img_avatars/ign_DesertTree-1.jpg' %}"> Lucas</td>
                    <td class="victories">99</td>
                    <td class="defeats">0</td>
                </tr>
                <tr>
                    <td class="friend_username"><img id="friend_avatar"
                            src="{% static 'pages/img_avatars/ign_DesertTree-1.jpg' %}">
                        Rururururuurururuururuurururuurururuurururuururuururururururu</td>
                    <td class="victories">999999999999999999999999999999999999999999999999999999999999999999</td>
                    <td class="defeats">100000000000000000000000000000000000000000000000000000000000000000000</td>
                </tr>
                <tr>
                    <td class="friend_username"><img id="friend_avatar"
                            src="{% static 'pages/img_avatars/Robert_De_Niro.jpg' %}"> Lucas </td>
                    <td class="victories">99</td>
                    <td class="defeats">0</td>
                </tr>
                <tr>
                    <td class="friend_username"><img id="friend_avatar"
                            src="{% static 'pages/img_avatars/Robert_De_Niro.jpg' %}"> Lucas </td>
                    <td class="victories">99</td>
                    <td class="defeats">0</td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% if not user.is_authenticated %}
            <div class="login_form">
                <h2 class="pong_title" style="font-size: 30px;margin-bottom: 30px;">LOGIN</h2>
                <form id="loginForm" action="/account/login/" method="post">
                    <div class="form-group">
                        <label for="username" class="account-form-label">Username</label>
                        <input class="account-form-input" type="username" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="account-form-label">Password</label>
                        <input class="account-form-input" type="password" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="LOGIN">
                    </div>
                </form>
                <div id="loginError"></div>
            </div>
            <div class="register_form">
                <h2>Registering</h2>
                <form id="registerForm" action="/account/createUser" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">Your User Name:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Your Password:</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="avatar">Your avatar:</label>
                        <input type="file" id="avatar" name="avatar" accept=image/*>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                    <div id="registerError"></div>
            </div>
        {% endif %}

        <!-- GAME HISTORY  -->
        {% if user.is_authenticated %}
        <div class="match_history_container">
          <h2>Match History</h2>
          <div class="match_history_list">
              {% for match in match_history %}
                  <div class="match_history_item">
                      {% if match.user_won %}
                      <div class="match_history_win_icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0feb0f" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                      </svg>
                      </div>
                      {% else %}
                      <div class="match_history_win_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 1.05 1.05L9.08 10.02a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                        </svg>
                      </div>
                      {% endif %}
                      <div class="match_history_username"> {{ match.player_1.username }} </div>
                      <div class="match_history_score" id="match_history_score_left"> 
                        {{ match.player_1_score }} 
                      </div>
                      <img src="{% static 'pages/images/fight_icon_2.svg' %}" alt="Fight Icon" class="fight-icon">
                      <div class="match_history_score" id="match_history_score_right"> 
                        {{ match.player_2_score }} 
                      </div>
                      <div class="match_history_username"> {{ match.player_2.username }} </div>
                      <div class="match_history_date" > {{ match.date|date:"Y-m-d H:i" }} </div>
                  </div>
              {% empty %}
                  <li>No match history found.</li>
              {% endfor %}
          </div>
        </div>
        {% endif %}
    </div>
    <div id="scene">
        <!-- scene 3d -->
    </div>
    <div id="footer">
        <button id="goBackButton" class="needed_hover" onclick='zoomBack()' src="{% static '/js/main.js' %}">> Go Back <</button>
    </div>
</body>
<!-- THREE JS LIBRARY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<!-- SCENE LOADER -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
<!-- CAMERA CONTROLS -->
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<!-- ZOOM -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
<!-- BOOTSTRAP SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- SCENE SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/scene.js' %}"></script>
<!-- GAME SESSION SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/gameSession.js' %}"></script>
<!-- GLOBALS SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/globals.js' %}"></script>
<!-- LOADING SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/script.js' %}"></script>
<!-- PONG SCRIPT??? -->
<script src="{% static 'pages/js/pong.js' %}"></script>
<!-- LOGIN FORM SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/handleLoginForm.js' %}"></script>
<!-- REGISTER FORM SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/handleRegisterForm.js' %}"></script>
<!-- MAIN SCRIPT -->
<script type="text/javascript" src="{% static 'pages/js/main.js' %}"></script>

</html>
