{% extends 'base.html' %}

{% block content %}
<div id="menuPongDiv">
    <div class="left">
        <h1 class="pong_title">42 PONG</h1>
        <button class="needed_hover2" href="/pongIA/">IA</button>
        <button class="needed_hover2" href="/pong/">1v1</button>
        <button class="needed_hover2" href="/pong/">Tournois</button>
        <button class="needed_hover2" id="createSessionBtn">Create Game Session</button>
        <button class="needed_hover2" id="joinSessionBtn" href="join_session/{{ user.id }}/">Join</button>
        <input type="text" placeholder=" Enter Session ID Here " id="sessionIdInput"></input>
    </div>
</div>

{% if user.is_authenticated %}
    {% include 'partials/user_stats.html' %}
    {% include 'partials/change_profile.html' %}
    {% include 'partials/notifications.html' %}
    {% include 'partials/match_history.html' %}
    {% include 'partials/friends.html' %}
{% else %}
    {% include 'partials/login_form.html' %}
    {% include 'partials/register_form.html' %}
{% endif %}
{% endblock %}
