html {
	margin:2%;
}

body {
	background-color: #eceff4;
	color: #d08770;
	border: 3px solid black;
    box-shadow: 8px 8px 0 -3px white, 8px 8px 0 0 black;
}

.header {
	display: flex;
	width: 100%;
	height : 30%;
	background-color: red;
	text-align: center;
	align-items: center;
}

.top {
	width : 100%;
}
  
  .welcome {
	border: 2px solid black;
	width: 50%;
	/* font-size: medium; */
	/* justify-content: center; */

  }
  
  .shell {
	width: 15%;
	align-self: center;
	margin-left: 20%;
}
  
  .links-commands-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30%;
  }
  
  .links, .commands {
	padding: 3%;
	width: 40%;
	height: 40%;
	margin: 2%;
	border: 7px double black;
	/* align-items: center; */
	/* justify-content: center; */
    /* box-shadow: 8px 8px 0 -3px white, 8px 8px 0 0 black; */
  }

  .links {
	/* text-align: center; */

}

.commands{
	margin-top: 5%;
}

.terminal{

/* TAILLE */
	height: 50%;
	width: 100%;

/* APPARANCE */
	min-height: 100vh; /* Ensure the container covers the entire viewport height */
	/* background: url('fdf.jpg') no-repeat center center; Replace with your image path */
	/* background-size: cover; */
	background-color: rgba(0, 0, 0, 0.2);
	/* background-color: green; */
	border: 3px solid #d08770;
	border-radius: 5px;
}