.friends_container
{
  visibility: hidden;
  opacity: 0;
  position:absolute;
  width:400px;
  right: 5%;
  height: 70%;
	border: 2px solid rgba(40, 40, 40, 1);
	color: white;
	background-color: rgba(24, 24, 24, 1);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
}

