#username {
	color: white;
}


#menuPong {
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
	padding: 40px; /* Increased padding */
	border-radius: 20px; /* Increased border radius */
	width: 60%; /* Set a fixed width */
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center elements horizontally */
}

a.custom-link {
	font-size: 1.5rem; /* Increased font size */
	margin-bottom: 20px; /* Increased margin */
}

input[type="text"] {
	font-size: 1.5rem; /* Increased font size */
	padding: 10px; /* Increased padding */
	margin-top: 20px; /* Increased margin */
	border-radius: 5px; /* Border radius */
	width: 80%; /* Adjust width as needed */
}