@font-face {
	font-family: "Arcades";
	src: url('../../pages/static/fonts/arcade/Arcades.eot') format('embedded-opentype'),
		url('../../pages/static/fonts/arcade/Arcades.woff2') format('woff2'),
		url('../../pages/static/fonts/arcade/Arcades.woff') format('woff'),
		url('../../pages/static/fonts/arcade/Arcades.ttf') format('truetype');
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#scene {
	position: absolute;
	top: 0;
	z-index: -2;
}


#content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center elements horizontally */
}

#header {
	/* background:rgba(0,0,0,0.1); */
	top: 0;
	padding: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 5%;
	width: 100%;
	font-family: 'Arcade', Arial, Helvetica, sans-serif;
	position: fixed;
	color : white;
	display: flex;
}

button {
	background: none;
	padding: 1%;
	border: 2px solid white;
	border-radius: 1vh;
	font: larger;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	text-decoration: none;
	color: white;
}

#content-wrapper {
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
	padding: 40px; /* Increased padding */
	border-radius: 20px; /* Increased border radius */
	width: 60%; /* Set a fixed width */
}

.needed_hover:hover {
	background-color: white;
	color: black;
	transition: 1s;
	text-decoration: 2px solid underline overline;
	/* text-decoration: 1px solid black; */
	text-underline-offset: 5px;
	box-shadow: 0 0 15px white;
	transition: all .45s ease-Out;
}


/* CSS LOGIN FORM */
.login_form {
	visibility: hidden;
	max-width: 600px;
	margin: auto;
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	width: calc(100% - 12px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}

textarea {
	height: 100px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.register_form {
	visibility: hidden;
	max-width: 600px;
	margin: auto;
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
}


#footer {
	visibility: hidden;
	display: flex;
	width: 100%;
	position: absolute;
	justify-content: center;
	bottom: 0;
}


/* GAME SESSION / MENUPONG */
#username {
	color: white;
	margin: 5%;
	padding: 1%;
	border: 2px solid white;
	border-radius: 1vh;
	font: larger;
	font-weight: bold;
}


#menuPong {
	color: white;
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
	padding: 40px; /* Increased padding */
	border-radius: 20px; /* Increased border radius */
	width: 60%; /* Set a fixed width */
	height: 50%;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center elements horizontally */
}
/* 
a.custom-link {
	font-size: 1.5rem; /* Increased font size */
	/* margin-bottom: 20px; Increased margin */
/* } */

input[type="text"] {
	font-size: 1.5rem; /* Increased font size */
	padding: 10px; /* Increased padding */
	margin-top: 20px; /* Increased margin */
	border-radius: 5px; /* Border radius */
	width: 80%; /* Adjust width as needed */
}


.needed_hover2 {
	background-color: white;
	color: black;
	transition: 1s;
	text-decoration: 2px solid underline overline;
	/* text-decoration: 1px solid black; */
	text-underline-offset: 5px;
	box-shadow: 0 0 15px white;
	transition: all .45s ease-Out;
	width: 50%;
	margin: 1%;
}

/* STATS */

#user_stats{
	visibility: hidden;

	color: white;
	font-size: large;
	font-weight: bold;

	border: 2px solid white;
	border-radius: 1vh;
    width: 50%;
    position: absolute;

	text-align: center;
background: rgb(31,255,36);
background: linear-gradient(90deg, rgba(31,255,36,0.5) 0%, rgba(16,0,255,0.5) 50%, rgba(255,142,120,0.5) 100%);
	/* background-color: rgba(0, 0, 0, 0.8); */
}

#stats_username{
	font-size: xx-large;
	text-decoration: underline overline;
	text-decoration-style: double;
	text-underline-offset: 1vh;
}

#avatar{
	width: 30%;
	border: 1.5px solid white;
}

#stats{
	color:white;
}