@font-face {
	font-family: "Arcades";
	src: url('../../pages/static/fonts/arcade/Arcades.eot') format('embedded-opentype'),
		url('../../pages/static/fonts/arcade/Arcades.woff2') format('woff2'),
		url('../../pages/static/fonts/arcade/Arcades.woff') format('woff'),
		url('../../pages/static/fonts/arcade/Arcades.ttf') format('truetype');
}

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
  font-family: 'Arcade', Arial, Helvetica, sans-serif;
}

#scene {
	position: absolute;
	top: 0;
	z-index: -2;
}


#content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center elements horizontally */
}

#param_img {
	width: 100%;
	transition: transform 2s ease ;
}

#param_img:hover{
	transform: rotate(360deg);
}

#param_btn {
	padding: 0;
	border: 0;
    width: 5%;
    margin: 0;	
}

/* change profile settings div */
#change_prof{
  overflow: hidden;
  transition: opacity 2s ease-out;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(24, 24, 24, 1);
  color: white;
  border: 2px solid rgba(40, 40, 40, 1);
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 80px;
  margin-top: 20px;
  margin-right: 20px;
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

#settingsForm
{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#top{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#old_avatar{
  margin-top: 10%;

  width: 50%;
  border-radius: 100%;
  height: 35%;
  object-fit: cover;

  border: 2px solid rgba(40, 40, 40, 1);
  box-shadow: 1px 12px 10px black;
}

#new_avatar{
  margin-top: 5%;
  padding: 0;
  margin-bottom: 5%;
  margin-left: 15%;
}

#sep{
  border: 2px double rgb(40, 40, 40);
  width: 100%;
}

#old_username{
    margin-top: 10%;
    font-size: 18px;
}

#new_username{
  width: 80%;
  margin-bottom: 20px;
  color: white;
  border: 2px solid rgba(18, 18, 18, 1);
  background-color: rgba(40, 40, 40, 1);
  padding: 0;
  font-size: large;
  text-align: center;
}

#bottom {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 15%;
	width: 100%;
	align-items: center;
}

#update_profile{
	margin-bottom: 10%;
	border: 2px solid rgba(40, 40, 40, 1);
	width: 50%;
	height: 100%;
    margin: 0;
}

#update_profile:hover {
	background-color: rgba(40, 40, 40, 1);
	box-shadow: 1 1 20px #141414;
}

button {
	cursor: pointer;
	background: none;
	/* background-color: rgba(white, white, white, 0.8); */
	padding: 1%;
	border: 2px solid white;
	border-radius: 1vh;
	font: larger;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	text-decoration: none;
	color: white;
	/* background-color: white; */
}

#content-wrapper {
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
	padding: 40px; /* Increased padding */
	border-radius: 20px; /* Increased border radius */
	width: 60%; /* Set a fixed width */
}

.needed_hover:hover {
	background-color: white;
	color: black;
	transition: 1s;
	text-decoration: 2px solid underline overline;
	text-underline-offset: 5px;
	box-shadow: 0 0 15px white;
	transition: all .45s ease-Out;
}


/* CSS LOGIN FORM */
.login_form {
	visibility: hidden;
	opacity: 0;
	max-width: 600px;
	width: 30%;
	margin: auto;
	height: 400px;
	border: 2px solid rgba(40, 40, 40, 1);
	color: white;
	background-color: rgba(24, 24, 24, 1);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
	transition: opacity 1.5s ease-out;

  	display: flex;
  	flex-direction: column;
  	align-items: center;
}

#loginForm
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.account-form-label
{
  font-size:14px;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	width: calc(100% - 12px);
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}

textarea {
	height: 100px;
}

input[type="submit"] {
  width:100%;
	background: linear-gradient(90deg, rgba(65,56,255,1) 0%, rgba(0,213,255,1) 100%);
	background: linear-gradient(90deg, rgba(243,33,105,1) 0%, rgba(245,133,41,1) 50%, rgba(255,214,0,1) 100%);
  /* background: linear-gradient(90deg, rgba(193,33,105,1) 0%, rgba(145,83,41,1) 50%, rgba(155,114,0,1) 100%); */
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.4s, box-shadow 0.4s; /* Smooth transition for hover effect */
}

input[type="submit"]:hover {
  transform: scale(1.05); /* Slightly increase size */
  background: linear-gradient(90deg, rgba(243,33,105,1) 0%, rgba(245,133,41,1) 50%, rgba(255,214,0,1) 100%);
  box-shadow: 0 0 15px rgba(255,255,255,0.6); /* Subtle glow effect */
  /* background: linear-gradient(90deg, rgba(255,214,0,1) 0%, rgba(245,133,41,1) 50%, rgba(243,33,105,1) 100%); */
}

input[type="submit"]:hover {
	background-color: #45a049;
}

/* REGISTER FORM */
.register_form {
	color:black;
	opacity: 0;
	transition: opacity 2s ease-out;
	visibility: hidden;
	max-width: 600px;
	width: 30%;
	margin: auto;
	border: 2px solid rgba(40, 40, 40, 1);
	color: white;
	background-color: rgba(24, 24, 24, 1);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
}

.account-form-input
{
  box-sizing:border-box;
  width:100%;
  font-size: 16px;
  color: black;
  padding: 5%;
	border: px solid black;
	border-radius: 1vh;
  background-color: gray;
  color: white;
}


/* FOOTER */
#footer {
	display: flex;
	width: 100%;
	position: absolute;
	justify-content: center;
	bottom: 0;
}


/* GAME SESSION / MENUPONG */
#menuPongDiv {
	z-index: 2;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease-out;
	border: 2px solid rgba(40, 40, 40, 1);

	color: white;
	background-color: rgba(24, 24, 24, 1);
	border-radius: 20px;
	width: 60%;
	height: 45%;
}

.pong_title{
	text-shadow: 1px 1px 1px #f09d0a,
             1px 2px 1px #f09d0a,
             1px 3px 1px #f09d0a,
             1px 4px 1px #f09d0a,
             1px 5px 1px #f09d0a,
             1px 6px 1px #f09d0a,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center elements horizontally */
}

input[type="text"] {
	/* font-size: 1.5rem; /* Increased font size */
	/* padding: 10px; Increased padding */
	/* margin-top: 20px; Increased margin */
	/* border-radius: 5px; Border radius */
	/* width: 80%; Adjust width as needed */
	/* text-align: center; */ 
	box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border: px solid black;
    border-radius: 1vh;
    background-color: gray;
    color: white;
}

input[type="email"] {
	/* font-size: 1.5rem; /* Increased font size */
	/* padding: 10px; Increased padding */
	/* margin-top: 20px; Increased margin */
	/* border-radius: 5px; Border radius */
	/* width: 80%; Adjust width as needed */
	/* text-align: center; */ 
	box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border: px solid black;
    border-radius: 1vh;
    background-color: gray;
    color: white;
}

input[type="password"] {
	/* font-size: 1.5rem; /* Increased font size */
	/* padding: 10px; Increased padding */
	/* margin-top: 20px; Increased margin */
	/* border-radius: 5px; Border radius */
	/* width: 80%; Adjust width as needed */
	/* text-align: center; */ 
	box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border: px solid black;
    border-radius: 1vh;
    background-color: gray;
    color: white;
}

.needed_hover2{
	width: 50%;
	border-color: white;
	margin: 5px;
}

/* .needed_hover2:hover {
	background-color: white;
	color: black;
	transition: 1s;
	text-decoration: 2px solid underline overline;
	text-underline-offset: 5px;
	box-shadow: 0 0 15px white;
	transition: all .45s ease-Out;
	width: 50%;
	margin: 1%;
} */

/* STATS */
#user_stats{
	opacity: 0;
    transition: opacity 1s ease-out;
    visibility: hidden;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 50%;
    border: 2px solid rgba(40, 40, 40, 1);
    position: absolute;
    background-color: rgba(24, 24, 24, 0.95);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    align-items: center;
}

#leftstats
{
	width: 50%;
    border: 2px solid rgba(40, 40, 40, 1);

}

#avatar{
	width: 70%;
	height: 100%;
	border-radius: 10%;
	border: 1.5px solid rgb(16, 16, 16);
}

#rightstats{
  width: 100%;
  border: 2px solid rgba(40, 40, 40, 1);
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  background: #71717124;
}

#stats_username{
	padding: 0;
	font-size: xx-large;
	text-decoration: underline overline;
	text-decoration-style: double;
	text-underline-offset: 1vh;
}


#stats{
	color:white;
	padding: 0;
}

/* FRIENDS LIST */
/* #friends{
	z-index: -1;
	overflow-y: scroll;
	position: absolute;
	visibility: visible;
	opacity: 100;
	width: 50%;
	height: 80%;
	border: 2px solid rgba(40, 40, 40, 1);
    background-color: rgba(24, 24, 24, 0.9);
} */

/* #friends_list{
	color:white;
	width: 100%;
    overflow: hidden;
} */
/* 
#friend_avatar{
	width: 20%;
} */

td{
	max-width: 150px; 
	word-wrap: break-word;
	padding:1%;
	border: 2px solid white;
}

.friend_username{
	background-color: rgba(0, 0, 0, 0.5);
}

.victories{
	background-color: rgba(0,128,0, 0.5);
}

.defeats{
	background-color: rgba(255,0,0, 0.5);

}

#notifbtn{
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	width: 25%;
}

#notifications{
	border: 2px solid rgba(40, 40, 40, 1);
    background-color: rgba(24, 24, 24, 1);
	visibility: hidden;
	opacity: 0;
	text-align: center;
	position: absolute;
	width: 25%;
	height: 40%;
	right: 0;
	bottom: 0; 
	overflow-y: scroll;
	border-radius: 10%;
}

#notiftitle{
	font-size: medium;
	color:white;
	text-align: center;
}

#closeNotifs{
	width: 30%;
    padding: 3%;
}

#sendnotifs
{
	width: 100%;
    height: 20%;
    border: 1px solid white;
	display: flex;
	margin-bottom: 2%;
}

#inputnotif{
	width: 50%;
	font-size: small;
	padding: 0;
}

#sendbtn{
	font-size: small;
	padding: 0;
	margin: 0;
}

selectnotif{
	width: 50%;
}

#notiftable{
	color: white;
    overflow: hidden;
	width: 100%;
}

#notiftd{
	width: 25%;
}

#notifaccept{
	color: green;
	border-color: green;
}

#notifdecline{
	color: red;
	border-color: red;
}

#notiftd_from_notif{
	width: 25%;
}

#notiftd_fype {
	width: 25%;
}

#nb_notifs{
	visibility: hidden;
	position: absolute;
}

#boot_toast{
	position: absolute;
	z-index: 10;
}

#param_btn2 {
	padding: 0;
	border: 0;
    width: 5%;
    margin: 0;
	background-color: white;
	transition: transform 2s ease ;
	/* transition: background-color 2s ease ; */
}

.needed_hover2:hover {
	background-color: white;

	color: black;
	transition: 1s;
	text-decoration: 2px solid underline overline;
	/* text-decoration: 1px solid black; */
	text-underline-offset: 5px;
	box-shadow: 0 0 15px white;
	transition: all .45s ease-Out;
}

#friends_button{
	padding : 0;
}




.header_hover:hover{
	/* background-color: red; */
	transform: translateY(1em);
	box-shadow: 0 0 30px white;
	transition: all .45s ease-in-out;
}


#profile_avatar
{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#profile_image
{
  width: 100%;
}
