html, body {
  margin: 0;
  height: 100%;
}

#game
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color : greenyellow;
}
#titre
{
  text-align: center;
  margin-bottom: 20px;
}
.ballSpeedindic
{
  text-align: center;
  margin-bottom: 20px;
  display : flex;
  flex-direction: row;
  gap : 5px;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}
.score
{
  text-align: center;
  display : flex;
  gap : 500px;
  flex-direction: row;
  margin-bottom : 20px;
}
.winning_screen
{
  text-align: center;
  display: flex;
  font-size : 80px;
  flex-direction: row;
  margin-bottom: 20px;
}
#buttons
{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
canvas
{
  border: 2px solid #fff;
  border-radius: 40px;
}
