#tournament-container{
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    width: 100%;
    height: 100%;

    /* Style */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
	padding: 40px; /* Increased padding */
	border-radius: 20px; /* Increased border radius */

    /* Text */
    color: white;
    
}