{% load static %}
<p id="current_username" style="display: none;">{{ user.username }}</p>
<div class="friends_container" id="friends">
    <h2>Friends</h2>
	<input type="text" id="input_search_friend" class="search_bar" placeholder="Search for friends...">

	<!-- Div Search result -->
	<div class="friend_box" id="result_box" style="visibility:hidden">
		<div class="status_circle" id="result_status"></div>
		<img class="avatar" id="result_avatar"  src="{% static 'pages/img_avatars/' %}">
		<p class="username" id="result_name"></p>
		<button class="friend_list_button" id="challenge_button">Challenge</button>
		<button class="add_button" id="add_button" onclick="sendFriendRequest()">+</button> <!-- Added the + icon here -->
	</div>
	<div class="friends_list" id="friends_list">
		{% if user.friends.all %}
			<p>Friends count: {{ user.friends.count }}</p>
			{% for friend in user.friends.all %}
			<div class="friend_box" id="friend_box">
				{% if friend.is_online %}
					<div class="status_circle" style="background-color: green;"></div>
				{% else %}
					<div class="status_circle" style="background-color: red;"></div>
				{% endif %}
				<img id="friend_avatar" src="{% static 'pages/img_avatars/' %}{{ friend.get_avatar_name }}">
				<p id="friend_username">{{ friend.username }}</p>
				<div class="friend_buttons" >
					{% comment %} <button class="friend_button1" onclick="location.href='{% url 'profile' friend.username %}'">View Profile</button> {% endcomment %}
					<button id="sendbtn" class="needed_hover" onclick="friendSendChallenge(`{{ friend.username }}`)" src="{% static 'pages/js/main.js' %}"><img id="friends_challenge" src="{% static 'pages/images/challenge.png' %}""></button>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<p>No friends to display</p>
		{% endif %}
	</div>
	
		<div id="search_friend_error"></div>
</div>