{% load static %}
<div id="header">
    {% if user.is_authenticated == False %}
        <button class="needed_hover" onclick='goToLogin()'>LOGIN</button>
        <button class="needed_hover" onclick='goToRegister()'>REGISTER</button>
    {% else %}
        <button class="needed_hover" id="logoutButton">LOGOUT</button>
        <button class="needed_hover" id="statsButton" onclick='showStats()'>{{ user.username }}</button>
        <button class="needed_hover" id="friendsButton" onclick="showFriends()">FRIENDS LIST</button>
        <button class="needed_hover" id="matchHistory" onclick="showMatchHistory()">MATCH HISTORY</button>
        <button id="param_btn" onclick='showParams()'><img id="param_img" src="{% static '/pages/images/parametres.png' %}"></button>
    {% endif %}
</div>
