{% load static %}
<div id="header">
    {% if user.is_authenticated == False %}
        <button id="header_button" class="needed_hover" style="color:black" onclick='goToLogin()'>LOGIN</button>
        <button id="header_button" class="needed_hover" style="color:black" onclick='goToRegister()'>REGISTER</button>
    {% else %}
        <button id="header_button" class="header_hover" onclick='showStats()'><img class="header_icon" src="{% static '/pages/images/mon-profil.png' %}" alt="PROFILE"></button>
        <button id="header_button" class="header_hover" onclick="showMatchHistory()"><img class="header_icon" src="{% static '/pages/images/livre-dhistoire.png' %}" alt="MATCH HISTORY"></button>
        <button id="header_button" class="header_hover" onclick="showFriends()"><img class="header_icon" src="{% static '/pages/images/grouper.png' %}"></button>
        <button id="header_button" class="header_hover" onclick='showParams()'><img class="header_icon" src="{% static '/pages/images/parametres.png' %}"></button>
        <button id="header_button_logout" class="header_hover" src="{% static 'pages/js/handleLogout.js' %}"><img class="header_icon" src="{% static '/pages/images/deconnexion.png' %}" alt="LOG OUT"></button>
        <script>
            // Ensures that the html page has been fully loaded before listening
            document.addEventListener('DOMContentLoaded', function () {
                // Stores the id of the listened button
                const element = document.getElementById('header_button_logout');
                if (element) {
                // The function is triggered when the button is clicked
                    element.addEventListener('click', function () {
                        // Fetch API
                            // Sends a request to the backend
                        fetch('/account/logout/', {
                            // Resquest type
                            method: 'POST',
                            // Request header
                            headers: {
                                // Specifies that the body of the request is JSON
                                'Content-Type': 'application/json',
                                // Retrieves csrftoken from cookie
                                'X-CSRFToken': getCookie('csrftoken') // Ensure you handle CSRF token
                            },
                            // Sends a empty JSON body as a request (no data needed to be shared)
                            body: JSON.stringify({})
                        })
                        // Parses the JSON repsonse 
                        .then(response => response.json())
                        // Handles the parsed JSON response
                        .then(data => {
                            if (data.success) {
                                console.log("LOGOUT SUCCES");
                                // Handle successful logout
                                isZooming = false;
                                isZoomed = false;
                                loadContent('/');
                                // alert(data.message);
                                // window.location.href = '/'; // Reload the page or update the UI as needed
                                // updateUIForLogout();
                            } else {
                                // Handle failure
                                console.log("LOGOUT FAIL");
                                alert(data.message);
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    });
                }
            });
            
            // Function to get the CSRF token
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            
            function updateUIForLogout() 
            {
                console.log("Updating UI for logout");
                const header = document.getElementById('header');
                header.innerHTML = 
                `
                    <button class="needed_hover" onclick='goToLogin()' src="{% static '/js/main.js' %}">LOGIN</button>
                    <button class="needed_hover" onclick='goToRegister()' src="{% static '/js/main.js' %}">REGISTER</button>
                `
                ;
            }</script>
    {% endif %}
</div>
