<!-- RED BUTTON WARNING -->
<div id="container-modal-warning" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">⚠️ WARNING ⚠️</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="refuseWarningModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus praesentium vero iure.
                    Velit quos ex voluptas, vero reprehenderit fugit, error, autem quod animi minus atque accusamus
                    repudiandae doloribus. Modi.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="acceptWarningModal()">CONTINUE</button>
                <button type="button" class="btn btn-danger" onclick="refuseWarningModal()">GO BACK</button>
            </div>
        </div>
    </div>
</div>

<!-- LOGGED OUT MODAL -->
<div id="container-modal-log" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">ℹ️ INFORMATION ℹ️</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    onclick="loggedOutModalHide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You've logged out succesfully ! Thanks for stopping by, {{user.username}}.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="loggedOutModalHide()">THANKS!</button>
            </div>
        </div>
    </div>
</div>

<!-- LOGOUT MODAL -->
<div id="container-modal-error-loggout" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">🔥 ERROR 🔥</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideLoggoutErrorModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This door is used to logout. You can't use it if you're not logged in! Duhhh.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="modalLogin()">LOGIN/REGISTER</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideLoggoutErrorModal()">NO
                    THANKS</button>
            </div>
        </div>
    </div>
</div>

<!-- PONG ERROR MODAL -->
<div id="container-modal-error-pong" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">🔥 ERROR 🔥</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hidePongErrorModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This arcade is used to play Pong. You can't use it if you're not logged in! Sorry bruh.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="modalLogin()">LOGIN/REGISTER</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hidePongErrorModal()">NO
                    THANKS</button>
            </div>
        </div>
    </div>
</div>