{% load static %}
<button id="notifbtn" class="needed_hover" onclick="showNotifs()" src="{% static 'pages/js/main.js' %}">> NOTIFICATIONS <</button>
<div id="notifications">
    <h2 id="notiftitle">NOTIFICATIONS</h2>
    <button id="closeNotifs" onclick="hideNotifs()" class="needed_hover">CLOSE</button>
    
    
    <div id="sendnotifs">
        <p id="from_user" style="color:red;">{{user.username}}</p>
        <form id="notifform">
            {% csrf_token %}
            <input type="text" placeholder="PSEUDO" id="inputnotif" name="pseudo">
            <select name="notification_type" id="selectnotif" required>
                <option value="">Please Select</option>
                <option value="play with">play with</option>
                <option value="friend request">friend request</option>
            </select>
        </form>
        <button id="sendbtn" class="needed_hover" onclick="sendNotificationSocket('{{ user.username }}')">SEND</button>
    </div>
    <table id="notiftable">
        <tr>
            <td id="notiftd">FROM</td>
            <td id="notiftd">TYPE</td>
            <td id="notiftd">ACCEPT</td>
            <td id="notiftd">DECLINE</td>
        </tr>
        <p id="nb_notifs">{{user.nb_notifs}}</p>
        {% for notif in notifications %}
            <tr>
                <td id="notiftd">{{notif.from_user_username}}</td>
                <td id="notiftd">{{notif.type_of_notification}}</td>
                <td id="notiftd"><button class="needed_hover" onclick="acceptNotif('{{ notif.message }}')">ACCEPT</button></td>
                <td id="notiftd"><button class="needed_hover" onclick="declineNotif('{{ notif.message }}')">DECLINE</button></td>
            </tr>
        {% endfor %}
    </table>
</div>