{% load static %}
<div class="notif_container" id="notif">
    <h2>Notifs</h2>
	<div class="notif_list" id="notif_list">
		{% if notifications %}
		{% for notification in notifications %}
		<div class="notif_box" id="notif_box">
			{% comment %} <div class="notification {% if not notification.read %}unread{% endif %}"> {% endcomment %}
				<p><strong>{{ notification.from_user_username }}</strong>: {{ notification.message }}</p>
				<p>Type: {{ notification.type_of_notification }}</p>
		</div>
		{% endfor %}
	{% else %}
		<p>No notifications found.</p>
	{% endif %}
	</div> 
</div>