{% load static %}
<div id="pongScene">
	<script src="{% static 'pages/js/pong.js' %}"></script>
	<div id="countdownDisplay" style="position: absolute; top: 250px; left: 50%; transform: translateX(-50%); font-size: 240px; color: white;"></div>
	<div id="score" style="position: absolute; top: 50px; left: 50%; transform: translateX(-50%); font-size: 80px; color: white;"></div>
	<div id="footer">
        <button id="leaveGameButton" onclick=leaveGame() src="{% static 'pages/js/pong.js' %}">> Leave Game <</button>
		{% if game_session.tournament_id %}
			<!-- Display content related to the tournament_id -->
			<a href="/tournament/{{ game_session.tournament_id }}/">
				Back to Tournament
			</a>
		{% endif %}
	</div>

</div>
