<div id="tournament-container">
    TOURNAMENT N° <span id="tournament_id">{{tournament.id}}</span>

    <div id="tournament_state">
        Waiting for players to join...
    </div>

    <div id="tournament_players">
        {% for player in tournament.players.all %}
          <div class="player">
              <span class="player_name">{{player.username}}</span>
          </div>
        {% endfor %}
    </div>

    <div id="semi-finals-games">
        <div>Semi-Finals Games</div>
        {% for game in tournament.semi_final_games.all %}
            {% include 'partials/gameElement.html' %}
        {% endfor %}
    </div>

    <div id="final-game">
        <div>Final Game</div>
        {% if tournament.final_game %}
            {% with game=tournament.final_game %}
                {% include 'partials/gameElement.html' %}
            {% endwith %}
        {% endif %}
    </div>

    <div id="small-final-game">
        <div>Small Final Game</div>
        {% if tournament.small_final_game %}
            {% with game=tournament.small_final_game %}
                {% include 'partials/gameElement.html' %}
            {% endwith %}
        {% endif %}
    </div>  

</div>