<div id="tournament-container">
    TOURNAMENT N° <span id="tournament_id">{{tournament.id}}</span>

    <div id="tournament_state">
        Waiting for players to join...
    </div>

    <div id="tournament_players">
        {% for player in tournament.players.all %}
          <div class="player">
              <span class="player_name">{{player.username}}</span>
          </div>
        {% endfor %}
    </div>

    <div id="semi-finals-games">
        <div>Semi-Finals Games</div>
        {% for game in tournament.semi_final_games.all %}
            <div class="game">
                <div>{{game.session_id}}</div>
                <span class="player1">{{game.player1}}</span> vs <span class="player2">{{game.player2}}</span>
                <a class="go_button" href="/pong/{{ game.session_id }}/">GO</a>
                <div class="game_winner">
                    Winner: 
                    <span>
                        {% if game.matches.first and game.matches.first.winner %}
                            {{game.matches.first.winner.username}}
                        {% else %}
                            TBD
                        {% endif %}
                    </span></div>
            </div>
        {% endfor %}
    </div>
</div>