<div id="about_us">
	<h1>COUCOU</h1>
	<div class="about_img">
		<img src="{% static 'pages/imqges/background-space.jpg' %}">
	</div>
	<div class="about_img">
		<img src="{% static 'pages/imqges/background-space.jpg' %}">
	</div>
	<div class="about_img">
		<img src="{% static 'pages/imqges/background-space.jpg' %}">
	</div>
	<div class="about_img">
		<img src="{% static 'pages/imqges/background-space.jpg' %}">
	</div>
	<div class="about_img">
		<img src="{% static 'pages/imqges/background-space.jpg' %}">
	</div>

</div>