{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Three.js Model Viewer</title>
        <style>
            .content { margin: 0; }
            canvas { display: block; }
            .content{
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <div id="content">
        <!-- THREE JS LIBRARY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
        <!-- SCENE LOADER -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
        <!-- CAMERA CONTROLS -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
        <!-- ZOOM -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/20.0.0/tween.umd.js"></script>
        <!-- MAIN SCRIPT -->
        <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
    </div>
</html>