<title>Simple Form</title>
<style>
    /* Basic styling for the form */
    /* body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
    }
    .container {
        max-width: 600px;
        margin: auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 100px rgba(1, 0, 0, 0.1);
    } */

</style>

<div class="container">
    <h2>Registering</h2>
    <form action="/createUser" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Your User Name:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Your Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="avatar">Your avatar:</label>
            <input type="file" id="avatar" name="avatar" accept=image/*">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
